@charset "utf-8";

body {
  border: 1px solid #aaa;
}

h1 {
  background: #a0a;
}

h3 {
  color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  }

  hr.style {
    border-top: 4px double #8c8b8b;
    text-align: center;
  }
  hr.style:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
  }



.supp {
  background: #55f;
}

.border-line {
  border: 2px solid #555;
}