@charset "utf-8";

body {
  padding:2em;
  border: 1px solid #aaa;
}

footer{
  font-size: 8px;
  color: #333;
  text-align: center;

}


.title {
  font-size: 24px;
  text-align: center;
  width: 250px;
  padding: 0;
  margin: 0;
  color: #fff;
  background: #aaa;
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  }
  .title:before, .title:after{
  content: '';
  position: absolute;
  top: -7px;
  width: 2px;
    height: -webkit-calc(100% + 14px);
  height: calc(100% + 14px);
  background-color: black;
  }
  .title:before {left: 7px;}
  .title:after {right: 7px;}



h3 {
  max-width:350px;
  text-align: center;
  color: #364e96;
  padding: 0.1px 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  }

h4 {
  font-size: 16px;
  width: 256px;
  /* background-color: #fcc; */
  color: #333;
  padding: 0px 5px;
  margin-bottom: 0;
  border-left: solid 5px #f00;
}

.supp {
  margin:5px 0px;
  padding: em;
  font-size: 14px;
  color: #333;
}


/* 改行空白 */
.bs {
  margin-bottom: 2em;
}
.ss {
  margin-bottom: 0.5em;
}


/* 空白線 */
.line {
  border-top: 5px double #8c8b8b;
  text-align: center;
  margin: 2em 0;
}

.a03-squash {

}


/* 2.色変化 */
.a02-collar {
  height: 50px;
  width: 50px;
  background-color: #000;
  position: relative;
  animation: anime 1s infinite alternate;
}
@keyframes anime {
  0%   {background-color: #f00;}
  50%  {background-color: #f55;}
  100% {background-color: #ffe;}
}




/* 1.回転 */
.a01-box {
  width: 50px;
  height: 50px;
  background: #0f0;

  /* -webkit-animation: spin 1.5s linear infinite; */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(360deg);}
  100% {transform: rotate(1080deg);}
}