@charset "utf-8";

body {
  margin: 0;
  background: #f2f5f6;
  background: -moz-linear-gradient(45deg, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
  background: -webkit-linear-gradient(45deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  background: linear-gradient(45deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=1 );
}

footer{
  margin-top: 30px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.kukan-bottom {
  margin-bottom: 15px;
}
.kukan-top {
  margin-top: 15px;
}







/* ------ kei3 window ------- */
/* ------ kei3 window ------- */
/* ------ kei3 window ------- */
.calc-all {
  margin: 0 5%;
  padding: 20px 40px;
  text-align: center;
}

/* .cals-all h3 {
  text-align: center;
} */


.number {
  /* margin: 30px; */
  font-weight: bold;
  font-size: 32px;
  color: #06f;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.numberSymbol {
  font-size: 32px;
  font-weight: bolf;
  color: #777;
}

.numberArea {
  margin-bottom: 10px;
  font-size:24px;
}
/* ボタン関連 */
.buttonOption {
}
.numberButton {/*計算問題 出題ボタン*/
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #c0d860;
  border-radius: 25px;
  padding: 2px 10px;
  margin-bottom: 10px;
}
.answerButton {/* 計算問題 回答ボタン */
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #da6272;
  border-radius: 25px;
  padding: 2px 10px;
}



/* ------ css animations ------ */
/* ------ css animations ------ */
/* ------ css animations ------ */


.a03-squash {
  height: 50px;
  width: 50px;
  margin-bottom: 50px;
  background: #f00;
  animation:
    'squash1' 1s ease 0s alternate infinite,
    'squash2' 1s ease 0s alternate infinite;
}
@keyframes squash1 {
  0% {transform: scale(0.8,1.2);}
  20%,80% {transform: scale(0,8,1.2);}
  100% {transform: scale(1.2,0.8);}
}
@keyframes squash2 {
  0% {transform: translateY(0);}
  100% {transform: translateY(50px);}
}


/* 2.色変化 */
.a02-collar {
  height: 50px;
  width: 50px;
  background-color: #000;
  position: relative;
  animation: cchange 0.7s infinite alternate;
}
@keyframes cchange {
  0%   {background-color: #f00;}
  50%  {background-color: #f50;}
  100% {background-color: #fc0;}
}




/* 1.回転 */
.a01-box {
  margin: 10px 10px;
  width: 50px;
  height: 50px;
  background: #0c0;
  /* -webkit-animation: spin 1.5s linear infinite; */
  animation: spin 2s linear infinite;
}
/* .a01-box:before {
  content: "";
  width: 50px;
  height: 50px;
  background: #f00;
  transform: rotate(45deg);
  position: absolute;
} */
@keyframes spin {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(360deg);}
  100% {transform: rotate(1080deg);}
}